* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);

}

.conteneur1 {
  position: relative;
  background-color: #000000;
  color: white;
  height: 100vh;
  font-size: 2.2rem;
  /* text-decoration: underline;  */

  display: flex;
  justify-content: center;
  align-items: center;
}

.conteneur1>h1 {
  position: relative;
  z-index: 1;
}

.conteneur1>h1::before {
  position: absolute;
  content: "";
  background-color: green;
  width: 300px;
  height: 5px;
  right: -15px;
  top: 45px;
  z-index: -2;
}

/*fin du conteneur1*/
.conteneur2 {
  border-top: solid 5px green;
  background-color: black;
  color: black;
  text-align: center;
  
}

.conteneur2>h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2rem;
  text-decoration: underline green;

}

.conteneur2>.prentation-carousel>.box-presentation{
  margin-top: 100px;
  border-radius: 5px;
  background: rgba( 255, 255, 255, 0.85 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-bottom: 15px;
}

.prentation-carousel>.box-presentation {
  /* border-radius: 15px;  */
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
 
}

.conteneur2>.prentation-carousel>.prentation-carousel>.box-presentation>.plusimage .moi{
  text-decoration: underline 3px green;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


.conteneur2>.prentation-carousel>.box-presentation>p {
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: start;
}

.conteneur2>.prentation-carousel>.box-presentation>ul {
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-left: 30px;
  text-align: start;
  
}
.conteneur2>.prentation-carousel>.box-presentation>div{
  margin-top: 45px;
}
.conteneur2>.prentation-carousel>.box-presentation>div>a:hover{
  background-color: green;
  color: white;
  text-decoration: underline white;
 
}
.conteneur2>.prentation-carousel>.box-presentation>div>a{
  font-family: 'Poppins', sans-serif;
   background-color: black;
   color: white;
   font-weight: bolder;
  text-decoration: none;  
  border-radius: 5px;
   padding: 10px;
}
.conteneur2>.prentation-carousel>.box-presentation>.plusimage >img {
  border: solid 5px green;
  border-radius: 15px;
  height: 130px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.slider {
  margin-top: 50%;

}

.slider>.slidefirst {
  color: green;
  border: solid 5px green;
  background-color: #252525;
  margin: 40px 10px;
  padding: 15px 5px;
  text-align: center;
}
.conteneur2>.prentation-carousel>.carousel{
  width: calc(180 * 7);
  
}
.carousel{
   background-color: rgba( 255, 255, 255, 0.85 );
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}
.conteneur2>.prentation-carousel>.carousel>.carousel-content{
 
  padding: 15px 15px;
  margin: 20px 0 80px 0;
  display: flex;
  overflow: hidden;
 
}
.conteneur2>.prentation-carousel>.carousel>.carousel-content>.left{
  float: left;
  animation: slide 30s infinite;
  
}
.conteneur2>.prentation-carousel>.carousel>.carousel-content>.left img{
  height: 140px;
}

@keyframes slide {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-815px);
  }
  100%{
    transform: translateX(0);
  }
  
}

/* fin coneneur2 */

.conteneur3 {
  border-top: solid 5px green;
  background-color: black;
  color: white;
  padding-bottom: 60px;
 
}

.conteneur3>h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline green;
  font-family: 'Poppins', sans-serif;
}

.conteneur3>.content .box1-e {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
  padding-bottom: 30px;
  border-radius: 10px;
  margin: 20px;
  padding-top: 40px;
  text-align: center;
}

.conteneur3>.content >.logoF>img {
  background: black;
  min-width: 50px;
}

.conteneur3>.content >.box1-e>h2 {

  font-family: 'Poppins', sans-serif;
}

.conteneur3>.content >.box1-e>p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.conteneur3>.content >.box1-e>img {
  width: 200px;

}

.conteneur3>.content >.box2-e {
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
  margin: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.conteneur3>.content >.box2-e>h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.conteneur3>.content >.box2-e>p {
  font-family: 'Roboto', sans-serif;
  text-align: s;
  margin-left: 15px;
  margin-right: 15px;
}

.conteneur3>.content >.box3-e {
  background-color: black;
  color: white;

  padding-bottom: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
  
  padding-top: 40px;
  text-align: center;
}

.conteneur3>.content >.box3-e>h2 {
  font-family: 'Poppins', sans-serif;
  margin: 15px;
}

.conteneur3>.content >.box3-e>p {
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

.conteneur3>.content >.box4-e {
  background-color: black;
  color: white;
  box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
  border-radius: 10px;
  margin: 20px;

  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.conteneur3>.content >.box4-e>h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.conteneur3>.content >.box4-e>p {
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
}



/* fin.conteneur2 */

/* .conteneur4 {
  border-top: solid 5px green;
  background-color: black;
  color: white;

}

.conteneur4>h2 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}

.conteneur4>.competence {
  margin-top: 60px;
  text-align: center;
  font-size: 2rem;
  /* display: flex;
  overflow-x: scroll; */
  /* padding-bottom: 60px;
} */
/* .conteneur4>.competence p{
   text-align: center;
   font-family: 'Poppins', sans-serif;
}  */

.réalisation {
  background-color: black;
  border-top: solid 5px green;
  text-align: center;
}

.réalisation>h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline green;
  font-family: 'Poppins', sans-serif;
}

.content1 {
  background-color: black;
  color: black;
  box-shadow: inset 2px 2px 10px white, inset -2px -2px 10px white;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.content1>h2 {
  color: white;
  padding-top: 10px;

}
.content1>a{
  background-color: white;
  box-shadow: inset 2px 2px 5px white, inset -2px -2px 5px white;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bolder;
 width: 40%;
 border-radius: 50px;
 margin-top: 15px;
 padding: 8px;
text-decoration: none;
}
.content1>a:hover{
  background-color: #1f8667;
  color: white;
  transition: 1s;
}

.content1>img {
  width: 90%;
}

.modal{
 
  position: fixed;
  display: none;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.575);
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.content-modal{
  overflow-x: scroll;
 max-height: 95vh;
  background-color: rgb(0, 0, 0);
  color: white;
margin: 0 30px 40px 30px;
border-radius: 15px;
  box-shadow: inset 5px 5px 10px green, inset -5px -5px 10px green;
  padding-bottom: 25px;
}
.modal>.content-modal>h2{
  margin-top: 15px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.modal>.content-modal>p{
  margin: 15px;

}
.modal>.content-modal>a{
  color: red;
  text-decoration: none;
  border: solid 2px ;
  padding: 5px;
 
}

.modal>.content-modal>img{
width: 80%;
}

form{
  background-color: rgba(255, 255, 255, 0.671);
   height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
}
.content-form{
  background-color: black;
  color: white;
  box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 5px;
  margin: 0 5%;
  padding: 20px 0;
  width: 100%;
}
.content-form h2{
  text-align: center;
  margin-bottom: 15px;
}
.content-form>input{
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}
.content-form textarea{
  width: 80%;
  height: 100px;
  border-radius: 5px;
}
.content-form .btn-close{
  border: groove 5px red; 
  color: red ;
  font-weight: bold;
  text-decoration: none;
  padding: 5px ;
  margin-top: 15px;
}
.content-form button{
  background-color: black;
  border: solid 2px white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px ;
  margin-top: 15px;
}
footer{
  border-top: solid 5px white;
  color: white;
  text-align: center;
  height: 60px;
}

footer>.flc{
  font-size: 1rem;
 display: flex;
 justify-content: space-around;
}
footer>.flc>div{
  font-size: 2rem;
  flex: 30% 0;
}
footer>.flc>a:hover{
  text-decoration: underline;
}
footer>.flc>a{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bolder;
}

@media screen and (min-width:768px) {

  .conteneur1 {
    height: 100vh;
  }
  .conteneur2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  .conteneur2>.prentation-carousel>.box-presentation>.plusimage>.moi h2{
    color: black;
    font-size: 2.5rem;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }
  .prentation-carousel>.box-presentation{
    width: 90%;
    margin: auto;
  }
  .conteneur2>.prentation-carousel>.box-presentation>div{
    margin-top: 30px;
  }
  .conteneur2 >.prentation-carousel> .box-presentation > .plusimage{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }
   .conteneur2>.prentation-carousel>.box-presentation>ul{
    padding-left: 2.5rem;
  
  } 
  .conteneur2>.prentation-carousel>.box-presentation>p{
    display: flex;
   justify-content: center;
   padding: 0 2.5rem;
   
  } 
  .conteneur2>.prentation-carousel>.box-presentation>.moi{
    font-size: 2rem;
  
  }
  .conteneur2>.prentation-carousel>.box-presentation>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.conteneur2>h2{
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline green;
  font-family: 'Poppins', sans-serif;
}
  .conteneur2>.prentation-carousel>.carousel{
    border-radius: 5px;
      width: 90%;
      height: 300px;
      margin: auto;
  }
  
  @keyframes slide {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(-500px);
    }
    100%{
      transform: translateX(0);
    }
    
  }

.content-modal{
  width: 70%;
}
.modal>.content-modal>a{
 padding: 10px;
 width: 50px;
}


  .conteneur3{
    height: 100%;
  }
  .box-presentation{
    grid-template-columns: 1fr 3fr;
   background-color: green;
  }
  .conteneur3>.content{
    display: grid;
    grid-template-columns: 2fr 2fr;

  }
  h1{
    grid-column: 1/3;
    grid-row: 1;
  }
  .conteneur3>.box1-e{
    grid-column: 1;
    grid-row: 2;
  }
  .conteneur3>.box1-e>img{
    margin-top: 15px;
  }
  .conteneur3>.box1-e>h2{
    margin-top: 30px;
  }
  .conteneur3>.box1-e>p{
    margin-top: 40px;
  }
  .conteneur3>.box2-e{
    grid-column: 2;
    grid-row: 2;
  }
  .conteneur3>.box2-e>img{
    margin-top: 30px;
  }
  .conteneur3>.box2-e>h2{
    margin-top: 40px;
    margin-bottom: 40px ;
  }
  .conteneur3>.box3-e{
    grid-column: 1;
    grid-row: 3;
  }
  .conteneur3>.box3-e>h2{
    margin-bottom: 30px;
  }
  .conteneur3>.box4-e{
    grid-column: 2;
    grid-row: 3;
  }
  .conteneur3>.box4-e>h2{
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .conteneur4>h1{
    margin-top: 20px;
  } 
  
  .réalisation{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
   height: 100%;
  }
  .réalisation>.content1{
    height: 220px;
  }
  .réalisation>h2{
    grid-column: 1/3;
    grid-row: 1;
  }

}

  @media screen and (min-width:1080px){
      .conteneur2>.prentation-carousel{
        display: flex;
        flex-direction: row;
      }
     
    @keyframes slide {

      0%{
        transform: translateX(0);
      }

      50%{
        transform: translateX(0);
      }

      100%{
        transform: translateX(0);
      }

    }
    

    
  }
