
*{
  margin: 0;
  padding: 0;
}

body{
   background-color: rgb(0, 0, 0); 
}

 .conteneur1{
position:relative;
background-color: #000000;
color: white;
height: 740px;
font-size: 2.2rem;
 /* text-decoration: underline;  */

 display: flex;
justify-content: center;
align-items: center;
}
.conteneur1>h1{
  position: relative;
z-index: 1;
}

.conteneur1>h1::before{
  position: absolute;
  content:"" ;
  background-color: green;
  width: 300px;
  height: 5px;
  right: -15px;
  top: 45px;

  z-index: -2;

}  
/*fin du conteneur1*/
.conteneur2{
  border-top: solid 5px green;
  background-color: black;
  color: black;
  height: 740px;
  
  
}
.conteneur2>h1{
  text-align: center;
  color: white;
  font-size: 2rem;
  text-decoration: underline green;
}
.conteneur2>.box-presentation{
  margin-top: 100px;
  background-color: gray;
  border-radius: 5px;
  
}
.conteneur2>.box-presentation{
  /* border-radius: 15px;  */
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 30px;

  display: grid;
  grid-template-columns: 2fr 2fr ;
  grid-template-rows: 2fr 3fr;
  

}
.conteneur2>.box-presentation>.nom{
  text-decoration: underline green;
 margin-top: 20%;
text-align: center;
grid-column: 2 / 2;
grid-row: 1;
}
.conteneur2>.box-presentation>.prenom{
  text-decoration: underline green;
  display: flex;
  justify-content: center;
 align-items: center;

  grid-column: 2/ 2;
  grid-row: 1;
}
.conteneur2>.box-presentation>p{
  margin-top: 15px;
grid-column: 2/2;
grid-row: 2;
}
.conteneur2>.box-presentation>ul{
  margin-top: 15px;
  margin-left: 30px;
  grid-column: 1/2;
  grid-row: 2;
}

.conteneur2>.box-presentation>img{
  border: solid 5px green;
  border-radius: 15px;
height: 130px;
margin: 10px;

grid-column: 1/2;
grid-row: 1;
}  
.slider{
  margin-top: 50%;

}
.slider>.slidefirst{
  color: green;
  border: solid 5px green;
  background-color: #252525;
  margin: 40px 10px;
  padding: 15px 5px;
  text-align: center;

  
}



/* fin coneneur2 */
/* 
 .conteneur3{
  border-top: solid 5px white;
    background-color: black;
  color: white;
  /* height: 110%; */
/* } */
/* .conteneur3>h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.conteneur3>.box1-e{
  background: green;
  color: black;
border: solid 1px  white;
border-radius: 1px;
margin: 20px;
height: 30%;
padding-top: 40px;
text-align: center;
}
.conteneur3>.logoF>img{
  background: black;
  min-width: 50px;
}
.conteneur3>.box1-e>img{
  width: 200px;

}

.conteneur3>.box2-e{
  color: white;
  border: solid 1px white;
  margin: 20px;
  height: 30%;
   padding-top: 40px;
   border-radius: 15px;
  text-align: center;
}

.conteneur3>.box3-e{
  color: white;
  border: solid 1px white;
  border-radius: 15px;
  margin: 20px;
  height: 30%;
   padding-top: 40px;
  text-align: center;
}

.conteneur3>.box4-e{
    color: white;
    border: solid 1px white;
    border-radius: 15px;
    margin: 20px;
    height: 30%;
    padding-top: 40px;
    
    text-align: center;
}

/* fin.conteneur2 */
/* 
.conteneur4{
  border-top: solid 5px white;
  background-color: black;
  color: white;

}
.conteneur4>h1{
  text-align: center;
  text-decoration: underline;
}
.conteneur4>.competence{
 margin-top: 60px;
 text-align: center;
 font-size: 2rem;
 
}  



footer{
  border-top: solid 5px white;
  color: white;
  font-size: 2rem;
  text-align: center;
} */
